<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="ion-text-center"> Linterna </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-grid>
    <ion-row>
      <ion-col class="ion-text-center">
        @if (isActive) {
        <ion-text> La Linterna esta encendida </ion-text>
        } @else {
        <ion-text> La Linterna esta apagada </ion-text>
        }
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="ion-text-center">
        <ion-toggle
          [enableOnOffLabels]="false"
          (ionChange)="flash()"
        ></ion-toggle>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
